---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GEOCODE_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 02 Mar 2020 15:48:48 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 310ms
      X-Forecast-Api-Calls:
      - '3'
      X-Response-Time:
      - 77.076ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583164128,"summary":"Clear","icon":"clear-day","nearestStormDistance":1,"nearestStormBearing":352,"precipIntensity":0,"precipProbability":0,"temperature":29.85,"apparentTemperature":29.85,"dewPoint":25.85,"humidity":0.85,"pressure":1012.7,"windSpeed":2.6,"windGust":5.63,"windBearing":62,"cloudCover":0.22,"uvIndex":1,"visibility":9.849,"ozone":376.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583164080,"precipIntensity":0,"precipProbability":0},{"time":1583164140,"precipIntensity":0,"precipProbability":0},{"time":1583164200,"precipIntensity":0,"precipProbability":0},{"time":1583164260,"precipIntensity":0,"precipProbability":0},{"time":1583164320,"precipIntensity":0,"precipProbability":0},{"time":1583164380,"precipIntensity":0,"precipProbability":0},{"time":1583164440,"precipIntensity":0,"precipProbability":0},{"time":1583164500,"precipIntensity":0,"precipProbability":0},{"t[...]
